/** @format */

.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
.modal .modal-box {
    width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    display: flex;
    flex-direction: column;
}
.container {
    padding: 10px 10px;
}
.modal .modal-box hr {
    border: 1px solid #ccc;
}
.modal .modal-box .modal-top {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.modal .modal-box .modal-top h2 {
    font-size: 25px;
    font-weight: 700;
}
.modal .modal-box .modal-top span {
    font-size: 45px;
    position: absolute;
    right: 10px;
    top: -10px;
    cursor: pointer;
    user-select: none;
}
.modal .modal-box .info {
    display: flex;
    justify-content: space-between;
}
.modal .modal-box .info input {
    width: 48%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    background-color: #f5f6f7;
}
.modal .modal-box .account {
    padding-top: 0;
    padding-bottom: 0;
}
.modal .modal-box .account input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    margin: 10px 0;
    background-color: #f5f6f7;
}
.modal .modal-box .birthday h3 {
    font-size: 15px;
    color: gray;
    font-weight: 300;
    margin-bottom: 5px;
}
.modal .modal-box .birthday .select {
    display: flex;
    justify-content: space-between;
}
.modal .modal-box .birthday .select select {
    width: 30%;
    font-size: 17px;
    padding: 8px 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.modal .modal-box .birthday .select select option {
    font-size: 17px;
}
.modal .modal-box .sexs h3 {
    font-size: 15px;
    color: gray;
    font-weight: 300;
    margin-bottom: 5px;
}
.modal .modal-box .sexs .sex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.modal .modal-box .sexs .sex .match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
    font-size: 22px;
    border-radius: 3px;
}
.modal .modal-box .sexs .sex label {
    padding-right: 30px;
    cursor: pointer;
    font-weight: 500;
}
.modal .modal-box .text {
    font-size: 1.2rem;
}
.modal .modal-box .register button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 7px 60px;
    display: block;
    margin: 0 auto;

    font-size: 19px;
    font-weight: 500;
    color: #fff;
    background-color: #00a400;
    margin-bottom: 10px;

    border-radius: 3px;
}
